{% extends "base.html" %}
{% block title %}Home - Finance App{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h2>Welcome, {{ user.username }}!</h2>
        <p>You are successfully logged in.</p>

        <h3>Account Options:</h3>
        <p><a href="{% url 'password_change' %}">Change Password</a></p>

    {% else %}
        <h2>Finance App</h2>
        <p>Please log in or sign up to continue.</p>

        <h3>Account Actions:</h3>
        <p>
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        </p>
        <p>
            <a href="{% url 'password_reset' %}">Forgot Password?</a>
        </p>
    {% endif %}
{% endblock %}
